SoapWebServices/WebContent/wsdl/personserviceimpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PersonServiceImplService" targetNamespace="http://main.example.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://main.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://main.example.com/" schemaLocation="personserviceimpl_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="DeletePersonResponse">
    <wsdl:part name="parameters" element="tns:DeletePersonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeletePerson">
    <wsdl:part name="parameters" element="tns:DeletePerson">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPerson">
    <wsdl:part name="parameters" element="tns:addPerson">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllPerson">
    <wsdl:part name="parameters" element="tns:getAllPerson">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPersonResponse">
    <wsdl:part name="parameters" element="tns:addPersonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPerson">
    <wsdl:part name="parameters" element="tns:getPerson">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonResponse">
    <wsdl:part name="parameters" element="tns:getPersonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllPersonResponse">
    <wsdl:part name="parameters" element="tns:getAllPersonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersonService">
    <wsdl:operation name="getAllPerson">
      <wsdl:input name="getAllPerson" message="tns:getAllPerson">
    </wsdl:input>
      <wsdl:output name="getAllPersonResponse" message="tns:getAllPersonResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPerson">
      <wsdl:input name="getPerson" message="tns:getPerson">
    </wsdl:input>
      <wsdl:output name="getPersonResponse" message="tns:getPersonResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <wsdl:input name="DeletePerson" message="tns:DeletePerson">
    </wsdl:input>
      <wsdl:output name="DeletePersonResponse" message="tns:DeletePersonResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPerson">
      <wsdl:input name="addPerson" message="tns:addPerson">
    </wsdl:input>
      <wsdl:output name="addPersonResponse" message="tns:addPersonResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonServiceImplServiceSoapBinding" type="tns:PersonService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllPerson">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllPerson">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllPersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPerson">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPerson">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="DeletePerson">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DeletePersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPerson">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addPerson">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addPersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonServiceImplService">
    <wsdl:port name="PersonServiceImplPort" binding="tns:PersonServiceImplServiceSoapBinding">
      <soap:address location="http://localhost:6666/SoapExample/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
